@import "components/layout/LayoutComponent";
@import "assets/styles/spacing";
@import "components/layout/pickupCards/PickupCards";
@import "components/cards/Card";
@import "components/finishModal/FinishModal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8fd2ce;
}